.firecoin-button {
  list-style-image: url("chrome://firecoin/skin/btn_large.png");
}

toolbar[iconsize="small"] .firecoin-button {
  list-style-image: url("chrome://firecoin/skin/btn_small.png");
}

.firecoin-button-inactive {
  list-style-image: url("chrome://firecoin/skin/btn_large_inactive.png");
}

toolbar[iconsize="small"] .firecoin-button-inactive {
  list-style-image: url("chrome://firecoin/skin/btn_small_inactive.png");
}

#mainDonateDialog {
	width:300px;
	height: 200px;
}
